<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile {{ object.username }}</title>
</head>
<body>
<h3>username: {{ object.username }}</h3>
<h3>phone_number: {{ object.phone_number }}</h3>
<h3>bio: {{ object.bio }}</h3>
<h3>post: {{ post_conut }}</h3>
<h3>followings: {{ followings_conut }}</h3>
<h3>followers: {{ followers_conut }}</h3>

<form action="{% url 'followUnFollow' object.username %}" method="post">
    {% csrf_token %}
    <input type="submit" value="{% if is_follow %}Unfollow{% else %}follow{% endif %}">
</form>

</body>
</html>