<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{ form.action }}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
</form>
</body>
</html>